.preview-container
{
    background-color: #F4EEE0;
    width: 40%;
    color: #393646;
    border-radius: 10px;
    border: 3px solid #4F4557;
    
    border: 3px solid #4F4557;
    padding: 1rem;
}